.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

div.scroll {
  /* background-color: lightblue; */
  height: 90vh;
  width: 1000px;
  overflow-y: scroll;
}
img {
  width:100%;
  background-size: cover;
  background-position: center; /* Center the image within the element */
  object-fit: cover; 
  height: 225px; 
  overflow: hidden
}
.thumb-post img {
  object-fit: cover;
  object-position: center; /* Center the image within the element */
  width: 100%;
  height: 20px;
  /* max-height: 20px%; */
  overflow: hidden;
  /* margin-bottom: 1rem; */
}
.center-div {
  margin: 0 auto;
  width: 100px; 
}
a.navbar-brand { font-family: "Brush Script MT", cursive; font-size: 36px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; }

body {
  background: rgb(245, 235, 255) !important;
}

.container {
  margin-top: 20px;
}

h2 {
  color: blueviolet;
}

h3 {
  color: blueviolet;
}

button {
  margin: 0.5rem;
}

.navbar-brand {
  color: yellow;
}

.card-body {
  /* height: 5px; */
  height: auto;
  width: auto;
}

.pull-right {
  padding-left: 10px;
  padding-top: 3px;
}

i {
  padding-left: 0.25em;
  padding-right: 0.25em;
}